# pmcyg source artefacts to be ignored by 'git'

.*.swp
*.pyc

MANIFEST

build/
dist/
pmcyg.egg-info/
pmcyg-template.pkgs
test/setup*.xz
test/legacy/setup*.ini*

www/index.html
www/pmcyg-template.txt
